{% extends "layout.html" %}
{% block content %}
  <div class = "content-section">
    <h2>Disclaimer:</h2>
    <br>
    <p>This tool does not provide medical advice. It is the result of four students playing with a dataset and intended for informational purposes only. Do not use it as a substitute for professional medical advice, diagnosis or treatment! </p>
    <p>You understand and acknowledge that you should always seek the advice of your physician or other qualified health provider with any questions or concerns you may have regarding your medication.</p>
  </div>
  <div class = "content-section">
    <h2>Data Source:</h2>
    <p>Data collected from this <a href='https://www.kaggle.com/jessicali9530/kuc-hackathon-winter-2018'>Kaggle</a> set.</p>
    <br>
    <p>Common words from these reviews can be seen below. Clearly, side effects are a large part of review content.</p>
    <img src="./static/images/wordcloud.png" alt="Chart">
  </div>
  <div class = "content-section">
    <h2>Side Effect Categories:</h2>
    <p>Listed below are the side effect categories and the included key phrases we searched for:</p>
    <p><b>Pain -</b> 'headache', 'migrane', 'migranes', 'headaches', 'pain', 'leg pain', 'back pain', 'arm pain', 'cramps', 'tendonitis', 'pain in joints'</p>
    <p><b>Skin -</b> 'sensitive skin', 'dry skin', 'burned', 'red', 'dryness', 'swollen', 'itchy', 'irritated', 'bumpy spots', 'peeling', 'chapped lips', 'acne', 'lost sensation'</p>
    <p><b>Gynecological -</b> 'burning', 'itching', 'brown periods', 'spot', 'spotting', 'bleeding lasted', 'increased discharge', 'longer periods', 'cramping', 'heavy periods', 'swelling chest', 'tenderness in chest'</p>
    <p><b>Libido -</b> 'sex drive decreased', 'lower sex drive', 'decreased libido', 'loss of libido'</p>
    <p><b>Depression -</b> 'anhedonia', 'depression', 'mood swings', 'moody', 'weepy', 'no feelings', 'feeling', 'crying', 'cry constantly'</p>
    <p><b>Anxiety -</b> 'jaw clenching', 'inability to sit still', 'hear internal voices', 'paranoid', 'anxious', 'scared to be alone', 'manic state', 'anxiety', 'little confused', 'cognitive problems', 'irritable', 'angry', 'unreasonable', 'can not think straight', 'aggressive', 'nightmare', 'nightmares', 'yawning', 'bad dreams', 'inability to sleep', 'insomnia'</p>
    <p><b>Gastro-intestinal -</b> 'gastro-intestinal', 'diarrhoea', 'stomach cramps', 'heartburn', 'nauseated', 'no appetite', 'nausea', 'appetite suppressed', 'bowel movements', 'constipation', 'constipated', 'upset stomach', 'bloating', 'passing winds', 'acidy burbs', 'stomach aches', 'nauseous', 'sour stomach'</p>
    <p><b>Discomfort -</b> 'discomfort', 'shakiness', 'shaky', 'tired', 'fatigue', 'breathlessness', 'dry mouth', 'no energy', 'cold', 'hot flashes', 'night sweats', 'shaking', 'dizziness', 'knocks me out', 'weakness', 'wheezy', 'tiredness', 'uncomfortable', 'sweating'</p>
    <p><b>Weight Gain -</b> 'weight gain', 'gaining weight', 'hungry', 'appetite increased'</p>
    <p><b>Eyes -</b> 'burning eyes', 'blurred vision', 'blurry vision', 'light sensitivity'</p>
  </div>
{% endblock %}

